
body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  body.light-mode {
    background-color: #08085E;  /* Light background */
    color: #000000;  /* Dark text */
  }
  
  body.dark-mode {
    background-color: #1a1a1a;  /* Dark background */
    color: #ffffff;  /* Light text */
  }
  
  .mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1000;
  }
  
  .icon {
    color: #f39c12;
  }
  
  .icon.moon {
    color: #2980b9;
  }
  